<form autocomplete="off">
    <h1 id="potato-title">{{localize "POTATO-OR-NOT.PresetSelector.Title"}}</h1>
    <p class="notes">{{localize "POTATO-OR-NOT.PresetSelector.Notes"}}</p>

    <div class='potato-master-container'>
        {{#each presets}}
        <div class='potato-level-container {{#if this.isActive}}active{{/if}}' data-level="{{this.index}}">
            <div class="potato-level-row">
                <img src='modules/potato-or-not/assets/images/{{this.id}}.jpg' alt="{{this.name}}">
            </div>
            <div class="potato-level-row-text">
                <h2>{{localize (concat "POTATO-OR-NOT.Presets." this.name ".Name") }}</h2>
                <p>{{localize (concat "POTATO-OR-NOT.Presets." this.name ".Description") }}</p>
            </div>
        </div>
        {{/each}}
    </div>

    <input type="hidden" name="selectedLevel" value="{{savedLevel}}"/>

    <hr>

    <div class="dialog-buttons">
        <button type="submit" class="dialog-button">
            <i class="fas fa-check"></i>
            {{localize "POTATO-OR-NOT.PresetSelector.Apply"}}
        </button>
    </div>
</form>